{% extends 'base.html' %}

{% block conteudo %}
<div class="container mt-4">
  <div class="card shadow-sm p-4">
    <h3 class="mb-4">Novo Tipo de Serviço</h3>
    
    <form method="POST">
      <div class="row">
        <div class="col-md-6">
          <label for="nome" class="form-label">Nome do Tipo de Serviço</label>
          <input type="text" name="nome" class="form-control" placeholder="Digite o nome do tipo de serviço"
       value="{{ tipo_servico.nome if tipo_servico else '' }}">

        </div>
      </div>

      <!-- Botões alinhados horizontalmente -->
      <div class="d-flex gap-4 mt-4">
        <a href="/tipos_servico" class="btn btn-secondary">Voltar</a>
        <button type="submit" class="btn btn-success">
        {{ 'Atualizar' if tipo_servico else 'Salvar' }}
      </div>
    </form>
  </div>
</div>
{% endblock %}

